#item1 {
    margin: 30px;
    display: flex;
}
#item1 img{
    width: 500px;
    height: 500px;
    padding: 5px;
}

#item .description{
    justify-content: flex-start;
}

@media screen and (max-width: 1100px){

    #item1 {
        display: block;
        margin-left: 0;
    }
}

@media screen and (max-width:500px){
    #item1 img{
        width: 100%;
        height: 300px;
        padding: 5px;
    }
}