

.content {
    background-image: url(../image/ub_background.jpg);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    
    padding-top: 73px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.content-toggle {
    display: none;
}




.content-items {
    background-color:  rgba(30, 31, 30, 0.5);
    width: 300px;
    position: fixed;
    grid-column: 1 / 2;
    height: 100%; 
    /*
    transform: scale(1,1);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    in case might need to collapse items
    */
    overflow: hidden;
    overflow-y: scroll;
}
/*
.content-toggle:checked ~ nav{
    transform: scale(1,0);
}
*/

.content-items ul {
    list-style: none;
}

.content-items li {
    padding: 20px 0;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid white;
    overflow: hidden;
}

.content-items li a {
    text-decoration: none;
    color:white;
}

.content-items li a:hover {
    color:black;
}

.items-description {
    grid-column: 2 / 3;
    height: 100%;
    color:white;
}


@media screen and (max-width: 1100px){
    .content-toggle-label {
        position: fixed;
        margin-top: 10px;
        left: 0;
        margin-left: 10px;
        color: rgba(236, 241, 236, 0.8);
        font-weight: 800;
        font-size: 25px;
        border: oldlace solid 1px;
    }
    .content-items {
        transform: scale(1,1);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    .content-toggle:checked ~ nav{
        transform: scale(1,0);
    }
}

@media screen and (max-width:500px){
    .content-toggle-label {
        position: fixed;
        margin-top: 10px;
        left: 0;
        margin-left: 10px;
        color: rgba(236, 241, 236, 0.8);
        font-weight: 800;
        font-size: 15px;
        border: oldlace solid 1px;
    }

    .content-items li {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid white;
    overflow: hidden;
}
.content-items{
    width: 250px;
}

}


